{% extends "BlogGeneralBundle::layoutAdmin.html.twig" %}

{% block title %}Configuration{% endblock %}

{% block body %}
    <h1>Configuration du site</h1>
    <br>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Le blog</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form_label(form.themeBlog, "Theme du Blog : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.themeBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.themeBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    {{ form_label(form.nbArticlePerPageBlog, "Nombre d'article par page : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.nbArticlePerPageBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.nbArticlePerPageBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.nbArticlePerPageInListBlog, "Nombre d'articles à afficher par page en liste : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.nbArticlePerPageInListBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.nbArticlePerPageInListBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.nbArticleInSidebarArticleRecentBlog, "Nombre d'articles à afficher dans la sidebar \"Articles récents\" : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.nbArticleInSidebarArticleRecentBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.nbArticleInSidebarArticleRecentBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    {{ form_label(form.nbLevelCommentBlog, "Nombre de niveau de commentaire : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.nbLevelCommentBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.nbLevelCommentBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.viewCommentOverLevelLimitBlog, "Afficher les commentaires de niveau supérieure à la limite : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.viewCommentOverLevelLimitBlog) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.viewCommentOverLevelLimitBlog, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    {{ form_label(form.commentAutoPublished, "Publier automatiquement les nouveaux commentaires : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.commentAutoPublished) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.commentAutoPublished, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    {{ form_label(form.txtHome, "Texte de la page d'accueil : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.txtHome) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.txtHome, {'attr': {'class': 'form-control tinymce'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">L'administration</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form_label(form.themeAdmin, "Theme de l'administration : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.themeAdmin) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.themeAdmin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    {{ form_label(form.nbArticlePerPageInListAdmin, "Nombre d'articles à afficher par page en liste : ", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                    {{ form_errors(form.nbArticlePerPageInListAdmin) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.nbArticlePerPageInListAdmin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
    <div>
        <input type="submit" value="Valider" class="btn btn-primary" />
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascript %}
    {{ tinymce_init({
        theme: {'simple':{'language': app.request.locale, 'height': 400 }},
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        autosave_ask_before_unload: false})
    }}
{% endblock %}


