{% extends "BlogGeneralBundle::layoutAdmin.html.twig" %}

{% block title %}Valider un commentaire{% endblock %}

{% block body %}


        <h2>Valider un commentaire</h2>

        <p>
            Etes-vous certain de vouloir valider le commentaire "{{ comment.title }}" ?
        </p>

        {# On met l'id de l'article dans la route de l'action du formulaire #}
        <form action="{{ path('admin_valid_comment', {'id': comment.id}) }}" method="post">
            <a href="{{ path('admin_view_article', {'id': comment.article.id}) }}" class="btn btn-default">Retour à l'article</a>
            <a href="{{ path('admin_view_list_all_article') }}" class="btn btn-default">Retour à liste</a>

            {# Ici j'ai écrit le bouton de soumission à la main #}
            <input type="submit" value="Valider" class="btn btn-danger" />
            {# Ceci va générer le champ CSRF #}
            {{ form_rest(form) }}
        </form>

{% endblock %}
