{% extends "BlogGeneralBundle::layoutAdmin.html.twig" %}
{% block title %}Affiche un article{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ article.title }}</h3>
        </div>
        <div class="panel-body">
            {{ article.content|raw }}
            <hr>
            Auteur : {{ article.author }}
            - Date de création : {{ article.dateCreate|date('d/m/Y') }}
            {{ article.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ article.dateUpdate|date("d/m/Y") }}
            <a class="boutonedit btn btn-primary btn-xs" href="{{ path('admin_edit_article', {'id': article.id}) }}">Editer </a>
            <a class="boutondel btn btn-primary btn-xs" href="{{ path('admin_del_article', {'id': article.id}) }}">Supprimer </a>
        </div>
    </div>

    {% from "BlogGeneralBundle:BlogAdmin:Include-AdminComment.html.twig" import afficherCommentaires %}
    {{ afficherCommentaires(comments) }}

    <a href="{{ path('admin_view_list_all_article', {'page': 1}) }}" class="btn btn-default">Retour à liste</a>


{% endblock %}

