{% macro afficherCommentaires(comments) %}
{% import _self as self %}
    {# Boucle d'Affichage des panels Commentaires #}
    <div class="comment1">

        {% for comment in comments %}

            {% if not ((comment.depth >= config.loadConfig.nbLevelCommentBlog) and (config.loadConfig.viewCommentOverLevelLimitBlog == false)) %}


                {% if comment.published == true %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ comment.id }} - {{ comment.title }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ comment.content }}
                            <hr>
                            Auteur : {{ comment.author }}
                            - Date de création : {{ comment.dateCreate|date('d/m/Y') }}
                            {{ comment.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ comment.dateUpdate|date("d/m/Y") }}
                            {% if (comment.depth < config.loadConfig.nbLevelCommentBlog-1) %}
                                <button class="boutoncomment btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#{{ comment.id }}" data-parent="#comment">
                                    <i class="fa fa-comments"></i> Répondre
                                </button>
                            {% endif %}
                            <button class="boutoncomment btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#reportAbus{{ comment.id }}" data-parent="#comment">
                                <i class="fa fa-comments"></i> Signaler un abus
                            </button>
                        </div>
                    </div>
                    <div class="collapse comment1" data-parent="#comment" id="{{ comment.id }}">
                        <div class="well">
                            <h3>Repondre au commentaire</h3>
                            {{ render(path('comment_reply', {'comment': comment.id})) }}
                        </div>
                    </div>
                    <div class="collapse comment1" data-parent="#comment" id="reportAbus{{ comment.id }}">
                        <div class="well">
                            <h3>Signaler un abus</h3>
                            {{ render(path('report_abus', {'comment': comment.id})) }}
                        </div>
                    </div>
                    <div>
                        {{ self.afficherCommentaires(comment.childrens) }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endmacro %}