{# Boucle d'Affichage des panels Commentaires #}
<div class="comment1">

    {% for comment in article.comments %}


        {% if comment.parent is null %}

            {% if comment.published == true %}

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ comment.id }} - {{ comment.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ comment.content }}
                        <hr>
                        Auteur : {{ comment.author }}
                        - Date de création : {{ comment.dateCreate|date('d/m/Y') }}
                        {{ comment.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ comment.dateUpdate|date("d/m/Y") }}
                        <a href="{{ path('comment_reply', {'comment': comment.id}) }}" class="boutoncomment btn btn-primary btn-xs">
                            <i class="fa fa-comments"></i> Répondre
                        </a>
                    </div>
                </div>

                <div class="comment1">
                    {% for children in comment.childrens %}
                        {% if children.published == true %}

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ children.id }} - {{ children.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    {{ children.content }}
                                    <hr>
                                    Auteur : {{ children.author }}
                                    - Date de création : {{ children.dateCreate|date('d/m/Y') }}
                                    {{ children.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ children.dateUpdate|date("d/m/Y") }}
                                    <a href="{{ path('comment_reply', {'comment': children.id}) }}" class="boutoncomment btn btn-primary btn-xs">
                                        <i class="fa fa-comments"></i> Répondre
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="comment1">
                            {% for children in children.childrens %}
                                {% if children.published == true %}

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ children.id }} - {{ children.title }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            {{ children.content }}
                                            <hr>
                                            Auteur : {{ children.author }}
                                            - Date de création : {{ children.dateCreate|date('d/m/Y') }}
                                            {{ children.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ children.dateUpdate|date("d/m/Y") }}
                                            <a href="{{ path('comment_reply', {'comment': children.id}) }}" class="boutoncomment btn btn-primary btn-xs">
                                                <i class="fa fa-comments"></i> Répondre
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="comment1">
                                    {% for children in children.childrens %}
                                        {% if children.published == true %}
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ children.id }} - {{ children.title }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    {{ children.content }}
                                                    <hr>
                                                    Auteur : {{ children.author }}
                                                    - Date de création : {{ children.dateCreate|date('d/m/Y') }}
                                                    {{ children.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ children.dateUpdate|date("d/m/Y") }}
                                                    <a href="{{ path('comment_reply', {'comment': children.id}) }}" class="boutoncomment btn btn-primary btn-xs">
                                                        <i class="fa fa-comments"></i> Répondre
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}


    {% endfor %}
</div>
