{# Affichage du panel Article #}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ article.title }}</h3>
    </div>
    <div class="panel-body">
        {{ article.content|raw }}
        <hr>
        Auteur : {{ article.author }}
        - Date de création : {{ article.dateCreate|date('d/m/Y') }}
        {{ article.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ article.dateUpdate|date("d/m/Y") }}
        <button class="boutoncomment btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#{{ article.id }}" aria-expanded="false" aria-controls="{{ article.id }}">
            <i class="fa fa-comments"></i> Commenter
        </button>
    </div>
</div>
