{% extends "BlogGeneralBundle::layout.html.twig" %}

{% block title %}Affiche tous les articles avec commentaires{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 block-main">

            <h1>Affichage des articles.</h1>
            <br>
            {% for article in pagination %}
                {# Affichage du panel Article #}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ article.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ article.content | truncate(400, true, '...')|raw }} <a href="{{ path('view_article', {'id': article.id}) }}"><i>(Lire la suite)</i></a>
                        <hr>
                        Auteur : {{ article.author }}
                        - Date de création : {{ article.dateCreate|date('d/m/Y') }}
                        {{ article.dateUpdate is empty ? "" : ' - Mise à jour : ' ~ article.dateUpdate|date("d/m/Y") }}
                        <a class="btn btn-primary btn-xs boutonedit" href="{{ path('view_article', {'id': article.id}) }}">Lire l'article complet</a>
                    </div>
                </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

        <div class="col-sm-3">
            {{ include("BlogGeneralBundle:Blog:Include-Sidebar-Articlesrecents.html.twig") }}
        </div>
    </div>
</div>
{% endblock %}



