
{% extends "BlogGeneralBundle::layout1.html.twig" %}

{% block title %}Affichage d'un article{% endblock %}

{% block body %}

    {% from "BlogGeneralBundle:Blog:Include-Article.html.twig" import afficherArticle %}
    {{ afficherArticle(article) }}

    {{ include("BlogGeneralBundle:Blog:Include-Comment-Form.html.twig") }}

    {% from "BlogGeneralBundle:Blog:Include-Comment.html.twig" import afficherCommentaires %}
    {{ afficherCommentaires(comments) }}


    {% if (app.request.headers.get('referer')) %}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">Retour</a>
    {% else %}
        <a href="{{ path('view_list_all_article') }}" class="btn btn-default">Retour à liste</a>
    {% endif %}

{% endblock %}
{% block javascript %}

{% endblock %}