<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Mon blog</title>
    <link rel="stylesheet" href="{{ asset(''~ config.loadConfig.themeAdmin ) }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/blogcss.css') }}" />

    {% block stylesheets %}{% endblock %}

</head>
<body>

{% block navbar %}{{ include("BlogGeneralBundle:BlogAdmin:navbar.html.twig") }}{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {{ include("BlogGeneralBundle:BlogAdmin:sidebarleft.html.twig") }}
        </div>
        <div class="col-sm-9">
            {# On affiche tous les messages flash #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ key }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>
    </div>
</div>

{% block javascript %}{% endblock %}

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>